<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Contact Us</h1>
    <ul>
      <li>Address:</li>
      <li>Phone:</li>
      <li>Email:</li>
    </ul>
  </body>
</html>
